# Carpeta de desarrollo de funciones 
desarrollo

# Omitimos cualquier archivo utilizado en las pruebas
data/archivos/*.enc
data/archivos/*.desenc
data/archivos/*.txt
# Omitimos subir los archivos del llavero
data/keyring/*.pem
data/keyring/*.key