{% extends "layout.html" %}
{% block title %}
Nuestro trabajo{% endblock %}
{% block content %}
<h1>Equipo de Desarrollo</h1>

<div class="container">
    <div class="card">
        <h2>SALVADOR FLORES GUEVARA</h2>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul type="circle">
            <li class="task-item"><strong>Generación de claves simétricas aleatorias</strong></li>
            <li class="task-item"><strong>Cifrado y descifrado simétrico DES</strong></li>
            <li class="task-item"><strong>Generación de par de claves asimétricas RSA</strong></li>
            <li class="task-item"><strong>Cifrado y descifrado asimétrico RSA</strong></li>
        </ul>
    </div>

    <div class="card">
        <h2>LUIS FERNANDO VALVERDE CÁRDENAS</h2>
        <p><strong>Rol: JEFE DE PROYECTO</strong></p>
        <p style="font-size: small;"><strong>GitHub: https://github.com/lfvalcar</strong></p>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul type="circle">
            <li class="task-item"><strong>Cifrado y descifrado híbrido</strong></li>
            <li class="task-item"><strong>Servicio de almacenamiento compartido SMB</strong></li>
            <li class="task-item"><strong>Listado de archivos compartidos (Ver archivos)</strong></li>
            <li class="task-item"><strong>Importación y exportación de claves públicas</strong></li>
            <li class="task-item"><strong>Página de login</strong></li>
            <li class="task-item"><strong>Control de mensajes de errores y éxitos</strong></li>
            <li class="task-item"><strong>Página de     inicio</strong></li>
            <li class="task-item"><strong>Subida y descarga de ficheros al almacenamiento compartido SMB</strong></li>
            <li class="task-item"><strong>Subida y descarga de los ficheros a la aplicación</strong></li>
        </ul>
    </div>

    <div class="card">
        <h2>Miembro 3</h2>
        <p><strong>Rol: </strong></p>
        <p><strong>GitHub: </strong></p>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 1: </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio:</strong> 
            </li>
            <li class="task-item">
                <strong>Horas Dedicadas:</strong> 
            </li>
            <li class="task-item">
                <strong>Estado:</strong> En Progreso
            </li>
        </ul>
    </div>
</div>

    {% endblock %}