{% extends "layout.html" %}
{% block title %}
C. Asimétrico
{% endblock %}
{% block content %}
<h1>Cifrado y descifrado Asimétrico</h1>

    <h2>Generador de par de claves</h2>
    <form method="post">
        <input type="hidden" name="modo" value="generacion">
        <label for="nombre">Nombre del par de claves: </label>
        <input id="nombre" type="text" name="nombre"><br><br>
        <input type="submit" name="generacion" value="Generar par de claves">
    </form>

    {% if resultado_generacion==True %}
        <p><u>Clave pública generada y subida al recurso compartido</u></p>
        <p><u>Clave privada generada y almacenada en el llavero de la aplicación</u></p>
        <p><strong>Par de claves generado con éxito</strong></p>
    {% endif %}

    <h2>Importación de claves públicas</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="importacion">
        <label for="archivo">Seleccionar archivo:</label>
        <input id="archivo" type="file" name="archivo"><br><br>
        <label for="nombre">Nombre: </label>
        <input id="nombre" type="text" name="nombre"><br><br>
        <label for="correo">Correo electrónico: </label>
        <input id="correo" type="email" name="correo"><br><br>
        <label for="fingerprint">Identificador del par de claves: </label>
        <input id="fingerprint" type="text" name="fingerprint">
        <br><br>
        <input type="submit" name="importacion" value="Importar">
    </form>

    {% if cookieIn==False %}
        <p><u>Para utilizar el almacenamiento compartido, es necesario iniciar sesión <a href="/">aquí</a></u></p>
    {% endif %}

    {% if resultado_importacion==True %}
        <p><strong>Archivo importado con éxito</strong></p>
    {% endif %}

    <h2>Encriptado</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="encriptacion">
        <label for="archivo">Seleccionar archivo:</label>
        <input id="archivo" type="file" name="archivo"><br><br>
        <label for="clave_publica">Seleccionar clave publica:</label>
        <input id="clave_publica" type="file" name="clave_publica">
        <br><br>
        <label>Almacenamiento para la encriptación:</label>
        <label for="local">Local</label>
        <input type="radio" id="local" name="almacenamiento" value="local">
        <label for="compartida">Compartida</label>
        <input type="radio" id="compartida" name="almacenamiento" value="compartida">
        <br><br>
        <input type="submit" name="encriptar" value="Encriptar">
    </form>

    {% if cookieEnc==False %}
        <p><u>Para utilizar el almacenamiento compartido, es necesario iniciar sesión <a href="/">aquí</a></u></p>
    {% endif %}

    {% if resultado_encriptado==True %}
        <p><strong>Archivo se ha encriptado con éxito</strong></p>
    {% endif %}

    <h2>Desencriptado</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="desencriptacion">
        <label for="archivo">Seleccionar archivo encriptado:</label>
        <input id="archivo" type="file" name="archivo"><br><br>
        <label for="clave_privada">Seleccionar clave privada:</label>
        <input id="clave_privada" type="file" name="clave_privada"><br><br>
        <input type="submit" name="desencriptar" value="Desencriptar">
    </form>

    {% if resultado_desencriptado==True %}
        <p>El archivo se ha desencriptado con éxito</p>
    {% endif %}
{% endblock %}