{% extends "layout.html" %}
{% block title %}
C. Asimétrico
{% endblock %}
{% block content %}
<h1>Cifrado y descifrado Asimétrico</h1>
    <!-- Generador de claves -->
    <h2>Generador de par de claves</h2>
    <form method="post">
        <input type="hidden" name="modo" value="generacion">
        <label for="nombre">Nombre del par de claves: </label>
        <input id="nombre" type="text" name="nombre"><br><br>
        <input type="submit" name="generacion" value="Generar par de claves">
    </form>

    <!-- Control de errores -->
    {% if cookieIn==False %}
        <p><u>!Para utilizar la generación de claves, es necesario iniciar sesión<a href="/">aquí</a></u></p>
    {% endif %}

    <!-- Importación de claves públicas -->
    <h2>Importación de claves públicas</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="importacion">
        <label for="archivo">Seleccionar archivo:</label>
        <input id="archivo" type="file" name="archivo">
        <br><br>
        <input type="submit" name="importacion" value="Importar">
    </form>

    <!-- Control de errores y éxitos -->
    {% if cookieIn==False %}
        <p><u>!Para utilizar la importación de claves, es necesario iniciar sesión <a href="/">aquí</a></u></p>
    {% endif %}

    {% if resultado_importacion==True %}
        <p><strong>[Archivo importado con éxito]</strong></p>
    {% endif %}

    <!-- ENCRIPTADO  -->
    <h2>Encriptado</h2>
    <!-- Formulario para el encriptado  -->
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="encriptacion">
        <label for="archivo">Seleccionar archivo:</label>
        <input id="archivo" type="file" name="archivo"><br><br>
        <label for="clave_publica">Seleccionar clave publica:</label>
        <input id="clave_publica" type="file" name="clave_publica">
        <br><br>
        <label>Almacenamiento para la encriptación:</label>
        <label for="local">Local</label>
        <input type="radio" id="local" name="almacenamiento" value="local">
        <label for="compartida">Compartida</label>
        <input type="radio" id="compartida" name="almacenamiento" value="compartida">
        <br><br>
        <input type="submit" name="encriptar" value="Encriptar">
    </form>

    <!-- Control de errores y éxitos -->
    {% if cookieEnc==False %}
        <p><u>!Para utilizar el almacenamiento compartido, es necesario iniciar sesión <a href="/">aquí</a></u></p>
    {% endif %}

    {% if resultado_encriptado==True %}
        <p><strong>[Archivo se ha encriptado con éxito]</strong></p>
    {% endif %}

    <!-- DESENCRIPTADO  -->
    <h2>Desencriptado</h2>
    <!-- Formulario para el desencriptado -->
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="desencriptacion">
        <label for="archivo">Seleccionar archivo encriptado:</label>
        <input id="archivo" type="file" name="archivo"><br><br>
        <label for="clave_privada">Seleccionar clave privada:</label>
        <input id="clave_privada" type="file" name="clave_privada"><br><br>
        <input type="submit" name="desencriptar" value="Desencriptar">
    </form>
{% endblock %}