{% extends "layout.html" %}
{% block title %}
C. Asimétrico
{% endblock %}
{% block content %}
<h1>Algoritmo Simétrico</h1>

    <h2>Encriptado</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="encriptacion">
        <label for="archivo">Seleccionar archivo:</label>
        <input id="archivo" type="file" name="archivo">
        <br><br>
        <label>Algoritmo para la encriptación:</label>
        <label for="des">AES</label>
        <input type="radio" id="aes" name="algoritmo" value="AES">
        <label for="algoritmo">DES</label>
        <input type="radio" id="des" name="algoritmo" value="DES">
        <br><br>
        <label>Almacenamiento para la encriptación:</label>
        <label for="local">Local</label>
        <input type="radio" id="local" name="almacenamiento" value="local">
        <label for="compartida">Compartida</label>
        <input type="radio" id="compartida" name="almacenamiento" value="compartida">
        <br><br>
        <input type="submit" name="encriptar" value="Encriptar">
    </form>

    {% if cookie==False %}
        <p>Para utilizar el almacenamiento compartido, es necesario iniciar sesión <a href="/">aquí</a></p>
    {% endif %}

    <h2>Desencriptado</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="modo" value="desencriptacion">
        <label for="archivo">Seleccionar archivo encriptado:</label>
        <input id="archivo" type="file" name="archivo"><br><br>
        <label for="clave">Seleccionar archivo clave simétrica:</label>
        <input id="clave" type="file" name="clave">
        <br><br>
        <label>Algoritmo para la desencriptación:</label>
        <label for="des">AES</label>
        <input type="radio" id="aes" name="algoritmo" value="AES">
        <label for="algoritmo">DES</label>
        <input type="radio" id="des" name="algoritmo" value="DES">
        <br><br>
        <input type="submit" name="desencriptar" value="Desencriptar">
    </form>

    <!-- Desde aquí lanzará los errores o éxito en el proceso de encriptación  -->
    {% if encrypted_message %}
        
    {% endif %}
{% endblock %}