{% extends "layout.html" %}
{% block title %}
Documentación
{% endblock %}
{% block content %}
<h1>CIFRADO SIMÉTRICO</h1>
<h2>ENCRIPTADO AES</h2>
<p>Seleccionaremos nuestro archivo .txt y elegiremos el cifrado AES ademas de si queremos guardarlo en local o "compartido", cuando pulsemos "Encriptar" se nos descargará un .zip con todo lo necesario: el archvio cifrado, la clave y el archivo IV. Una vez con ese .zip se lo mandaremos a la persona indicada que comenzará el proceso de desencriptacion</p>

<h2>DESENCRIPTADO AES</h2>
<p>Cuando recibamos el .zip lo descomprimiremos en una carpeta aparte de el usuario tenga, al hacerlo tendrás los tres archivos mencionados anteriormente, una vez los tengas te iras a la seccion de desencriptado y seleccionaras el archivo cifrado, la clave y el desencriptado AES, al seleccionarlo aparecerá otro apartado en el que elegiras el archivo IV. Finalmente pulsaras el boton "Desencriptar" y se te descargará un .txt con el contenido del archivo</p>

<h2>ENCRIPTADO DES</h2>
<p>El proceso es es mismo que con AES, con la unica diferencia que esta vez el .zip solo contendra el archivo cifrado y la clave</p>

<h2>DESENCRIPTADO DES</h2>
<p>Seguiremos el mismo procedimiento que con el desencriptado AES ya que es totalmente igual, solo tenemos que seleccionar el archivo, la clave y el desencriptado DES. Finalmente pulsaras el boton "Desencriptar" y se te descargará un .txt con el contenido del archivo</p>

<h1>CIFRADO ASIMÉTRICO </h1>
<h2>GENERADOR PAR  DE CLAVES </h2>
<p>Le ponemos el nombre que queramos y le damos a generar par de claves, y se nos descargará la clave privada y la clave pública se guardará en el servidor en la sección de ver archivos en clave publica</p>


<h2>ENCRIPTADO ASIMÉTRICO </h2>
<p>Seleccionamos el archivo .txt que queramos encriptar , luego seleccionamos la clave pública generada anteriormente con el generador del par de claves y elegimos donde queremos guardar el archivo encriptado,si en el servidor o en local, el cual se nos guardara un archivo .enc</p>

<h2>DESENCIPTADO ASIMÉTRICO </h2>
<p>Seleccionamos el archivo anteriormente encriptado y luego elegimos la clave privada que se nos ha descargado anteriormente para desencriptar el archivo encriptado, que se nos guardará con la extensión .desenc</p>

{% endblock %}